/* main */
main{
    padding: 0px 20px;
}


/* resumo */
.resumo{
    width: 100%;
    padding: 15px 0;

    border-bottom: 5px solid var(--verde);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.resumo div{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resumo div p{
    color: #ececec;
    font-size: 12px;
    margin-top: 5px;
}
.resumo .recebidos{
    align-items: start;
    text-align: start;
}
.resumo_gastos{
    align-items: end;
    text-align: end;
}
.recebidos .grafico{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-radius: 30px;
    background: linear-gradient(
        to right,
        #5ABD77 0% 90%,
        #336b44 90% 100%
    );
}
.resumo_gastos .grafico{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-radius: 30px;
    background: linear-gradient(
        to right,
        #5ABD77 0% 50%,
        #336b44 50% 100%
    );
}
.resumo .title, .renda .title, .gastos .title{
    width: 100%;
    color: #ececec;
    font-size: 20px;
}


/* renda */
.renda{
    width: 100%;
    padding: 15px 0;

    border-bottom: 5px solid var(--verde);
}
.renda .dados{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #afafaf;
    margin-top: 10px;
}
.renda .dados a{
    color: #afafaf;
}


/* gastos */
.gastos{
    width: 100%;
    padding: 15px 0;
}
.gastos .gasto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}
.gasto div{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gasto_title{
    color: #ececec;
}
.gasto_subtitle{
    color: #afafaf;
    font-size: 15px;
}
.gasto_subtitle a{
    color: #afafaf;
}